[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
car-cost-calculator = {editable = true, path = "./../car-cost-calculator"}
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
gunicorn = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"

[dev-packages]
bumpversion = "*"
pylama = "*"
rope = "*"
yapf = "*"

[requires]
python_version = "3.6"
