[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
dash = "*"
dash-html-components = "*"
dash-core-components = "*"

[dev-packages]
bumpversion = "*"
pylint = "*"
yapf = "*"
rope = "*"

[requires]
python_version = "3.6"
